@import '../../../node_modules/bootstrap/scss/_functions.scss';
@import '../../../node_modules/bootstrap/scss/_variables.scss';
@import '../../../node_modules/bootstrap/scss/_mixins.scss';
// @import '../../../node_modules/bootstrap/scss/_forms.scss';
// @import '../../../node_modules/bootstrap/scss/_buttons.scss';
// @import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

html, body {
 	height: 100%;
 	padding: 0;
 	margin: 0;
}

* {
	outline: none !important;
}

body {
	// overflow: hidden;
	height: calc(100% - 114px);
}

main {
	height: 100%;
}

.top {
	height: calc(100%);
	// height: calc(100%);
	margin-top: 56px;
}

.footer {
	background-color: #f5f5f5;
	padding: 10px;
}

.btn-chat {

}

.btn-chat.active {
	background-color: #005500 !important;
    border-color: #004400 !important;
}

.messages-list {
	height: 100%;
	overflow: auto;
	max-height: 300px;
}

