@import '../../../node_modules/bootstrap/scss/_functions.scss';
@import '../../../node_modules/bootstrap/scss/_variables.scss';
@import '../../../node_modules/bootstrap/scss/_mixins.scss';
// @import '../../../node_modules/bootstrap/scss/_forms.scss';
// @import '../../../node_modules/bootstrap/scss/_buttons.scss';
// @import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

html, body {
 	height: 100%;
 	padding: 0;
 	margin: 0;
}

* {
	outline: none !important;
}

body {
	overflow: hidden;
}

main {
	height: 100%;
}

.top {
	height: calc(100% - 114px);
	margin-top: 56px;
}

.users-list {
	background: #efefef;
	padding-top: 15px;
}

.footer {
	background-color: #f5f5f5;
	padding: 10px;
}

